<div class="container">
  <h2>Eliminar Cliente</h2>

  <div class="form-row" *ngIf="!showMsg">
    <div class="alert alert-danger col-md-12" role="alert">
      Are You Sure?
      <br>
      <div class="btn-group" role="group">
        <button class="btn btn-outline-danger btn-sm" (click)="delete()">Eliminar</button>
        <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
      </div>
    </div>
  </div>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
      <br>
      <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
    </div>
  </div>

  <form #ClienteForm="ngForm" *ngIf="cliente">

    <div class="Form-row">

      <div class="col-md-4">
        <label>ID:</label>
        <Input type="text" id="Cliente_id" name="ClienteID" placeholder="Enter the Client ID" class="form-control"
          #Cliente_id Cliente_id [(ngModel)]="cliente.Cliente_id" readonly />
      </div>

      <div class="col-md-4">
        <label>Nombre:</label>
        <Input type="text" id="name" name="name" placeholder="Enter the name" class="form-control" #Nombre
          [(ngModel)]="cliente.Nombre" />
      </div>

      <div class="col-md-4">
        <label>Cliente:</label>
        <Input type="text" id="lastname" name="lastname" placeholder="Enter the last name" class="form-control"
          #Apellido [(ngModel)]="cliente.Apellido" />
      </div>

      <div class="col-md-4">
        <label>Ciudad:</label>
        <Input type="text" id="city" name="city" placeholder="Enter the city" class="form-control" #Ciudad
          [(ngModel)]="cliente.Ciudad" />
      </div>

    </div>
  </form>
