<div class="container">
  <br>
  <h1 align="center">Proyectos</h1>
  <hr class="my-4">
  <a class="btn btn-sm btn-outline-success" [routerLink]="[ '/proyectos-save' ]">Crear</a>
  <br>
  <br>
  <table class="table table-bordered">
    <tr>
      <td>Id del proyecto</td>
      <td>Cliente</td>
      <td>Estado</td>
      <td>Nombre del proyecto</td>
      <td>Fecha de inicio</td>
      <td>Fecha final</td>
      <td>Precio</td>
      <td>Cantidad de horas</td>
      <td>Acciones</td>
    </tr>
    <tr *ngFor="let item of projects">
      <td>{{ item.ProjectID }}</td>
      <td>{{ item.CustomerID }}</td>
      <td>{{ item.StateID }}</td>
      <td>{{ item.Names }}</td>
      <td>{{ item.StartDate }}</td>
      <td>{{ item.FinishDate }}</td>
      <td>{{ item.Price }}</td>
      <td>{{ item.AmountHours }}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/project-edit', item.ProjectID ]">Editar</a>
        </div>
        <div class="btn-group" role="group">
          <a class="btn btn-sm btn-outline-danger"
            [routerLink]="[ '/project-delete', item.ProjectID ]">Eliminar</a>
        </div>
      </td>
    </tr>
  </table>
</div>
