<div class="container">
  <br>
  <h1>Clientes</h1>
  <hr class="my-4">
  <a class="btn btn-sm btn-outline-success" [routerLink]="[ '/cliente-guardar' ]">Crear</a>
  <br>

  <table class="table table-bordered">
    <tr>
      <td> Id </td>
      <td> Nombre </td>
      <td> Apellido </td>
      <td> Número de identificación </td>
      <td> Telefono </td>
      <td> Correo electrónico </td>
      <td> Dirección </td>
      <td> Tipo de documento </td>
      <td> Acciones </td>
    </tr>
    <tr *ngFor="let item of customer">
      <td>{{ item.CustomerID }}</td>
      <td>{{ item.FirstName }}</td>
      <td>{{ item.LastName }}</td>
      <td>{{ item.Identification }}</td>
      <td>{{ item.Telephone }}</td>
      <td>{{ item.Email }}</td>
      <td>{{ item.Direction }}</td>
      <td>{{ item.DocumentTypeID }}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/clientes-edit', item.CustomerID ]">Edit</a>
        </div>
        <div class="btn-group" role="group">
          <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/cliente-delete', item.CustomerID ]">Delete</a>
        </div>
      </td>
    </tr>
  </table>
</div>
