<div class="container">
  <h1 align="center">Eliminar Cliente</h1>

  <div class="form-row" *ngIf="!showMsg">
    <div class="alert alert-danger col-md-12" role="alert">
      ¿Está seguro?
      <br>
      <div class="btn-group" role="group">
        <button class="btn btn-outline-danger btn-sm" (click)="delete()">Eliminar</button>
        <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
      </div>
    </div>
  </div>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
      <br>
      <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
    </div>
  </div>

  <form #ClienteForm="ngForm" *ngIf="customer">
    <div class="row">
      <div class="col">
        <label>ID:</label>
        <input type="text" class="form-control" id="CustomerID" name="CustomerID" placeholder="ID" #CustomerID
          [(ngModel)]="customer.CustomerID" readonly/>
      </div>
      <div class="col">
        <label>Nombre:</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nombres" #FirstName
          [(ngModel)]="customer.FirstName" readonly/>
      </div>
      <div class="col">
        <label>Apellido:</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Apellidos" #LastName
          [(ngModel)]="customer.LastName" readonly/>
      </div>
    </div>
  </form>
</div>
