<div class="container">
  <h1 align="center">Eliminar Cliente</h1>

  <div class="form-row" *ngIf="!showMsg">
    <div class="alert alert-danger col-md-12" role="alert">
      Are You Sure?
      <br>
      <div class="btn-group" role="group">
        <button class="btn btn-outline-danger btn-sm" (click)="delete()">Eliminar</button>
        <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
      </div>
    </div>
  </div>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
      <br>
      <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/clientes-lista']">Volver</a>
    </div>
  </div>

  <form #ClienteForm="ngForm" *ngIf="customer">

    <div class="Form-row">
      <div class="col-md-4">
        <label>ID:</label>
        <Input type="text" id="CustomerID" name="CustomerID" class="form-control" #CustomerID
          [(ngModel)]="customer.CustomerID" readonly />
      </div>
      <div class="col-md-4">
        <label>Nombre:</label>
        <Input type="text" id="FirstName" name="FirstName" class="form-control" #FirstName
          [(ngModel)]="customer.FirstName" readonly />
      </div>
      <div class="col-md-4">
        <label>Apellido:</label>
        <Input type="text" id="LastName" name="LastName" class="form-control" #LastName [(ngModel)]="customer.LastName"
          readonly />
      </div>
    </div>
  </form>
</div>
