<div class="container">
  <h1 align="center">Crear Proyecto</h1>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
    </div>
  </div>

  <form #ProyectoForm="ngForm">
    <div class="row">
      <div class="col">
        <label>Estado:</label>
        <input type="text" class="form-control" id="StateId" name="StateId" placeholder="Estado" #StateId
          [(ngModel)]="project.StateId" />
      </div>
      <div class="col">
        <label>Cliente:</label>
        <input type="text" class="form-control" id="CustomerId" name="CustomerId" placeholder="Cliente" #CustomerId
          [(ngModel)]="project.CustomerId" />
      </div>
      <div class="col">
        <label>Nombre:</label>
        <input type="text" class="form-control" id="Names" name="Names" placeholder="Nombre del proyecto" #Names
          [(ngModel)]="project.Names" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label>Fecha de inicio:</label>
        <input type="text" class="form-control" id="StartDate" name="StartDate" #StartDate
          [(ngModel)]="project.StartDate" />
      </div>
      <div class="col">
        <label>Fecha final:</label>
        <input type="text" class="form-control" id="FinishDate" name="FinishDate" #FinishDate
          [(ngModel)]="project.FinishDate" />
      </div>
      <div class="col">
        <label>Precio:</label>
        <input type="number" class="form-control" id="Price" name="Price" placeholder="Precio" #Price
          [(ngModel)]="project.Price" />
      </div>
      <div class="col">
        <label>Cantidad de horas:</label>
        <input type="number" class="form-control" id="AmountHours" name="AmountHours" placeholder="Cantidad de horas"
          #AmountHours [(ngModel)]="project.AmountHours" />
      </div>
    </div>
    <br />
    <br>
    <button class="btn btn-outline-primary btn-sm" (click)="save()">Guardar</button>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/proyectos-list']">Volver</a>
  </form>
