<div class='container'>
  <h1 align="center">Eliminar Requerimientos</h1>

  <div class="form-row" *ngIf="!showMsg">
    <div class="alert alert-danger col-md-12" role="alert">
      ¿Está seguro?
      <br>
      <button class="btn btn-outline-danger btn-sm" (click)="delete()">Eliminar</button>
      <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/requirements-list' ]">Volver</a>
      <div class="btn-group" role="group"></div>
    </div>
  </div>


  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
      <br>
      <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/requirements-list' ]">Volver</a>
    </div>
  </div>

  <form #requirementsForm="ngForm" *ngIf="requirement">
    <div class="row">
      <div class="col">
        <label>Requerimiento Id:</label>
        <input type="number" class="form-control" id="Id Proyecto" name="Id Proyecto" placeholder="Id Proyecto"
          #RequirementID [(ngModel)]="requirement.RequirementID" readonly/>
      </div>
      <div class="col">
        <label>Alcance:</label>
        <input type="number" class="form-control" id="Alcance" name="Alcance" placeholder="Alcance" #Reach
          [(ngModel)]="requirement.Reach" readonly/>
      </div>
      <div class="col">
        <label>Proyecto Id:</label>
        <input type="number" class="form-control" id="Id Proyecto" name="Id Proyecto" placeholder="Id Proyecto"
          #ProjectID [(ngModel)]="requirement.ProjectID" readonly/>
      </div>

      <div class="col">
        <label>Prioridad Id:</label>
        <input type="number" class="form-control" id="Alcance" name="Alcance" placeholder="Alcance" #Reach
          [(ngModel)]="requirement.PriorityID" readonly/>
      </div>
      <div class="col">
        <label>Desarrollador Id:</label>
        <input type="number" class="form-control" id="Desarrollador Id" name="Desarrollador Id"
          placeholder="Desarrollador Id" #DeveloperID [(ngModel)]="requirement.DeveloperID" readonly/>
      </div>
      <div class="col">
        <label>Días de desarrollo:</label>
        <input type="number" class="form-control" id="Días de desarrollo" name="Días de desarrollo"
          placeholder="Días de desarrollo" #DevelopmentDays [(ngModel)]="requirement.DevelopmentDays" readonly/>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label>Fecha de aplicacion:</label>
        <input type="date" class="form-control" id="Fecha de aplicacion" name="Fecha de aplicacion"
          placeholder="Fecha de aplicacion" #ApplicationDate [(ngModel)]="requirement.ApplicationDate" readonly/>
      </div>
      <div class="col">
        <label>Fecha de desarrollo:</label>
        <input type="date" class="form-control" id="Fecha de desarrollo" name="Fecha de desarrollo"
          placeholder="Fecha de desarrollo" #Telephone [(ngModel)]="requirement.DevelopmentDate" readonly/>
      </div>
      <div class="col">
        <label>Fecha de prueba:</label>
        <input type="date" class="form-control" id="Fecha de prueba" name="Fecha de prueba"
          placeholder="Fecha de prueba" #Email [(ngModel)]="requirement.TestingDate" readonly/>
      </div>
    </div>
  </form>
</div>
