<div class="container">
  <h2>Crear cliente</h2>
  <div class="form-row" ngif="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
    </div>
  </div>
  <form #clienteForm="ngForm">
    <div class="row">
      <div class="col">
        <label>Nombre:</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nombres" #FirstName
          [(ngModel)]="cliente.FirstName" />
      </div>
      <div class="col">
        <label>Apellido:</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Apellidos" #LastName
          [(ngModel)]="cliente.LastName" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label>Número de identificación:</label>
        <input type="text" class="form-control" id="Identification" name="Identification"
          placeholder="Número de identificación" #Identification [(ngModel)]="cliente.Identification" />
      </div>
      <div class="col">
        <label>Telefono:</label>
        <input type="text" class="form-control" id="Telephone" name="Telephone" placeholder="Número de telefono"
          #Telephone [(ngModel)]="cliente.Telephone" />
      </div>
      <div class="col">
        <label>Correo electrónico:</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Correo electrónico" #Email
          [(ngModel)]="cliente.Email" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label>Dirección:</label>
        <input type="text" class="form-control" id="Direction" name="Direction" placeholder="Direccion" #Direction
          [(ngModel)]="cliente.Direction" />
      </div>
      <div class="col">
        <label>Tipo de documento:</label>
        <input type="number" class="form-control" id="DocumentTypeID" name="DocumentTypeID" placeholder="Selecciona"
          #DocumentTypeID [(ngModel)]="cliente.DocumentTypeID" />
      </div>
    </div>
    <br />
    <button class="btn btn-outline-primary btn-sm" (click)="save()">Guardar</button>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/clientes-lista']">Volver</a>
  </form>
</div>
