<div class='container'>
  <h2>Editar Cliente</h2>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
    </div>
  </div>

  <form #clienteForm="ngForm" *ngIf="customer">
    <div class-md-4>
      <label>ID:</label>
      <input type="text" id="CustomerID" name="CustomerID" class="form-control"
      #CustomerID [(ngModel)] = "customer.CustomerID" readonly />
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label>Nombre:</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nombres" #FirstName
          [(ngModel)]="customer.FirstName" />
      </div>
      <div class="col-md-4">
        <label>Apellido:</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Apellidos" #LastName
          [(ngModel)]="customer.LastName" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label>Número de identificación:</label>
        <input type="text" class="form-control" id="Identification" name="Identification"
          placeholder="Número de identificación" #Identification [(ngModel)]="customer.Identification" />
      </div>
      <div class="col-md-4">
        <label>Telefono:</label>
        <input type="text" class="form-control" id="Telephone" name="Telephone" placeholder="Número de telefono"
          #Telephone [(ngModel)]="customer.Telephone" />
      </div>
      <div class="col-md-4">
        <label>Correo electrónico:</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Correo electrónico" #Email
          [(ngModel)]="customer.Email" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label>Dirección:</label>
        <input type="text" class="form-control" id="Direction" name="Direction" placeholder="Direccion" #Direction
          [(ngModel)]="customer.Direction" />
      </div>
      <div class="col-md-4">
        <label>Tipo de documento:</label>
        <input type="number" class="form-control" id="DocumentTypeID" name="DocumentTypeID" placeholder="Selecciona"
          #DocumentTypeID [(ngModel)]="customer.DocumentTypeID" />
      </div>
    </div>
    <br>
    <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/clientes-lista' ]">Back</a>
  </form>
</div>
