<div class='container'>
    <h1 align="center">Editar Requerimientos</h1>

    <div class="form-row" *ngIf="showMsg" >
        <div class="alert alert-{{type}} col-md-12" role="alert" >
            {{msg}}
        </div>
    </div>

    <form #requirementsForm="ngForm" *ngIf="requirement">
        <div class="form-row">
            <div class-md-4>
                <label>ID:</label>
                <input type="text" id="RequirementID" name="RequirementID" placeholder="Enter the costumer ID" class="form-control"
                #RequirementID [(ngModel)] = "requirement.RequirementID" readonly />
            </div>
            <div class-md-4>
                <label>Reach:</label>
                <input type="text" id="Reach" name="Reach" placeholder="Enter the costumer Title" class="form-control"
                #Title [(ngModel)] = "requirement.Reach"/>
            </div>
        </div>
        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Editar</button>
            <a class = "btn btn-outline-primary btn-sm" [routerLink]="[ '/requirements-list' ]">Volver</a>
        </div>
    </form>
</div>
